name: Release

on:
  push:
    branches:
    - main

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  release:
    name: GitHub
    uses: craigsloggett-lab/.github/.github/workflows/release-terraform.yml@main
  publish:
    name: HCP Terraform
    needs: release
    if: ${{ needs.release.outputs.new-release-published == true }}
    uses: craigsloggett-lab/.github/.github/workflows/publish-terraform.yml@main
    with:
      new-release-version: ${{ needs.release.outputs.new-release-version }}
      hcp-terraform-organization-name: craigsloggett-lab
    secrets:
      hcp-terraform-api-token: ${{ secrets.TF_TOKEN_app_terraform_io }}
