name: Security

on: pull_request

permissions:
  contents: read

jobs:
  checkov:
    name: Checkov
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Setup Python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: 3.14.0
    - name: Checkov
      uses: bridgecrewio/checkov-action@1f0ef821c5e4e9c5c9ae9550701402d75c9608b5 # v12.3076.0
      with:
        output_format: cli
        output_file_path: console
        quiet: true
        check: CKV_AWS_1 # Use either a defined list of checks, or skip irrelevant checks with `skip_check`.
        download_external_modules: true
